<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloEn" class="com.test03.Hello_En"></bean>
	<bean id="helloKo" class="com.test02.Hello_Ko"></bean>
	<!-- Hello_En helloEn = new Hello_En(); -->


</beans>
